.env
uploads/
services/bin/
python/wheels/
python/data/
python/.venv/
**/__pycache__/
*.exe
*.log
.idea/
.vscode/
services/_envtest/
services/web/admin-ui/node_modules/
services/web/admin-ui/dist/
*.tsbuildinfo
services/web/admin-ui/vite.config.js
